
.center {
    text-align: center;
    margin-top: 50px;
  }

.slightlyMarginedItem
{
    margin: 10px;
}

.productImage 
{
  width: 150px;
}

.deleteButton
{
  background-color: red;
  color: white;
}

.updateButton
{
  background-color: rgb(0, 112, 6);
  color: white;
}