
.center {
    text-align: center;
    margin-top: 50px;
  }

.right{
  text-align: right;
}

.nolink a{
  color: #FFFFFF;
  text-decoration: none;
}

.slightlyMarginedItem
{
    margin: 10px;
}

.productImage 
{
  width: 150px;
}

.deleteButton
{
  width: 140px;
  background-color: #e44242;
  color: white;
}

.updateButton
{
  position:absolute;
  top: -100; 
  bottom: 0; 
  margin-left: -125px; 
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
  width: 150px;
  background-color: #232B22;
  color: #F44F6A;
  border: #F44F6A;
  border-radius: 5px;
}

.updateTitle
{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.fieldRequired
{

  font-size: 15px;
  margin: 5px;
  margin-left: 10px;
}

.labelBorder
{ 
  border: 1px solid black;  
  margin-left: 10px;
}

.invalidLabelBorder
{
  border: 1.5px solid red;  
  margin-left: 10px;
}

.redBorderedLabelBorder
{
  width: 100%;
}

.tableDiv
{
  border: 2px solid rgba(155, 36, 36, 0.479);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 20px;
}

.redRowBorder
{
  border-top: 1px solid rgba(155, 36, 36, 0.479);
}

.orderListImage
{
  width: 200px;
  margin: 10px;
}

.orderPageProductName
{
  font-size: 20px;
  font-weight: medium;
  text-align: left;
  margin: 20px;
}

.deleteOrderButton
{
  width: 130px;
  height: 40px;
  background-color: #e44242;
  color: white;
  border-radius: 8px;
  float: right;
  border-bottom: 3px solid #a0172e;
  border-right: 3px solid #a0172e;
}

.updateShippingButton
{
  width: 130px;
  height: 40px;
  background-color: #3152d6;
  color: white;
  border-radius: 8px;
  float: right;
  border-bottom: 3px solid #3624bc;
  border-right: 3px solid #1a64e5;
}

.updateProcessingButton
{
  width: 130px;
  height: 40px;
  background-color: #4d505c;
  color: white;
  border-radius: 8px;
  float: right;
  border-bottom: 3px solid #6a6682;
  border-right: 3px solid #4f545c;
}

.deliveredIcon
{
  background-color: green;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  color: rgb(223, 240, 221);
  padding:3px;
  text-align: center;
  float:left;
}

.processingIcon
{
  background-color: grey;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  color: rgb(223, 240, 221);
  padding:3px;
  text-align: center;
  float:left;
}

.shippedIcon
{
  background-color: blue;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  color: rgb(223, 240, 221);
  padding:3px;
  text-align: center;
  float:left;
}