
.grid-container {
  margin-left: 300px;
  margin-right: 300px;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #e44242;
  padding: 10px;
}
.grid-item {
  width: 350px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.buttondrop {
 text-align: center;
}
